/* Variables */
:root {
	/* Colores */
	--blanco: #ffffff;
	--negro: #1b1c1e;
	--principal: #1e0e62;
	--fuentePrincipal: "DM Sans", sans-serif;
	--logo: "League Spartan", sans-serif;
}

/* Valor del documento */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--fuentePrincipal);
	font-size: 1.6rem;
	line-height: 1.8;
}

/* Globales */
h1,
h2,
h3 {
	font-weight: 900;
	margin: 2rem 0;
}
h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4.6rem;
}

h3 {
	font-size: 3rem;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

/* Selectores de atributos */
[class$="__container"] {
	max-width: 120rem;
	margin: 0 auto;
	width: 90%;
}

/* ------------------- PÁGINA WEB ------------------- */

/* Header */
.header {
	background: url(../src/Fondo_Header.svg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100%;
	background-color: #2f1893;
}

.header__grid {
	display: grid;
	align-items: center;
	padding-bottom: 13.6rem;
	padding-top: 5rem;
}

.header__graphic {
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	padding-left: 81rem;
	margin-top: 8rem;

	& .header__img {
		width: 75rem;
	}
}

.header__text {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto 1fr;
	text-align: center;
	color: var(--blanco);
	text-align: start;
}

.header__textoPrimario {
	grid-column: 1 / 7;

	& .header__heading {
		font-size: 7rem;
		font-weight: 600;
	}

	& .header__paragraph {
		font-size: 2.5rem;
		padding-right: 45rem;
	}
}

.header__textoSecundario {
	grid-row: 2 / 3;
	grid-column: 1 / 3;

	& .header__heading {
		font-size: 4rem;
		font-weight: 500;
	}

	& .header__paragraph {
		font-size: 1.7rem;
		padding-right: 9rem;
	}
}

.header__textoTerceario {
	grid-row: 2 / 3;
	grid-column: 3 / 5;

	& .header__heading {
		font-size: 4rem;
		font-weight: 500;
	}

	& .header__paragraph {
		font-size: 1.7rem;
		padding-right: 9rem;
	}
}

/* Navegación */
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 2rem;
	text-align: center;
	align-items: center;
	gap: 2rem;
	font-size: 2rem;
}

.navigation__link {
	margin: 0 1rem;
	font-size: 1.5rem;
	color: var(--blanco);
	display: inline-block;
	transform: scale(1);
	transition: transform 0.2s;
}

.navigation__link:hover {
	transform: scale(1.15);
}

.navigation__link--logo {
	font-weight: 700;
	font-size: 3.7rem;
	font-family: var(--logo);
}

.navigation__link--button {
	padding: 0.7rem 2rem;
	border-style: solid;
	border-width: 1;
	border-color: #ebeaed;
	border-radius: 10rem;
}

/* Process */
.process {
	padding-left: 15rem;
	padding-top: 8rem;
	color: var(--principal);

	& .list__paragraph {
		color: #a1a1b0;
	}
}

.process__heading {
	font-weight: 900;
}

.process__grid {
	display: grid;
	grid-template-columns: auto 1fr;
}

.process__linePoints {
	width: 7rem;
}

.list {
	display: grid;
	grid-template-rows: auto 1fr;
	padding-right: 32rem;
	row-gap: 3rem;
	padding-left: 1rem;
}

.list__heading {
	font-weight: 600;
	font-size: 3rem;
}

.list__paragraph {
	font-size: 1.8rem;
}

.processContent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	padding-left: 3rem;
}

.processContent__graphic {
	max-width: 100%;

	& .processContent__img {
		border-radius: 1rem;
	}
}

.processContent__content {
	text-align: left;
	grid-column: 2 / 4;
	margin-bottom: 2rem;
	padding-left: 3rem;

	& .processContent__heading {
		font-size: 2.5rem;
		margin-top: 0;
		padding-top: 2rem;
		text-transform: uppercase;
	}

	& .processContent__paragraph {
		padding-right: 20rem;
		color: #a1a1b0;
	}
}

.list__button {
	border-radius: 2.8rem;
	background: #22cbb7;
	font-size: 2.3rem;
	font-weight: 300;
	border-style: none;
	padding: 1.3rem 2rem;
	color: var(--blanco);
	transition: background 0.3s ease-out;
}

.list__button:hover {
	background: #2bb3a1;
}

.process__linePoints {
	border-left: thick solid #ebeaed;
	border-width: 0.3rem;
	height: 69rem;
	left: 23%;
	margin-top: 2.5rem;
	position: relative;
}

.process__dots {
	background: #ebeaed;
	color: #9594a5;
	display: block;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	text-align: center;
	padding-top: 0.5rem;
	position: absolute;
}

.process__dots:nth-child(1) {
	right: 4.85rem;
}

.process__dots:nth-child(1)::before {
	content: "1";
}

.process__dots:nth-child(2) {
	right: 4.85rem;
	top: 24rem;
}

.process__dots:nth-child(2)::before {
	content: "2";
}

.process__dots:nth-child(3) {
	right: 4.85rem;
	top: 66.5rem;
}

.process__dots:nth-child(3)::before {
	content: "3";
}

/* Scanner */
.scanner {
	margin-top: 15rem;
	color: var(--principal);
	margin-bottom: 10rem;

	& .scanner__paragraph {
		color: #a1a1b0;
	}
}

.scanner__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
	position: relative;
}

.scanner__iphone {
	position: relative;
	z-index: 2;
}

.scanner__background {
	height: 73.5rem;
	z-index: 1;
	position: absolute;
	bottom: 1rem;
	right: 73rem;
	border-radius: 4rem;
	transform: rotate(180deg);
}

.scanner__blur {
	position: absolute;
	z-index: 0;
	box-shadow: 0 0 3rem #777777;
	border-radius: 5.4rem;
	width: 37.2rem;
	height: 75.6rem;
	bottom: 0.2rem;
	right: 71.5rem;
}

.scanner__content {
	text-align: left;
	padding-right: 19rem;
}

.scanner__heading {
	line-height: 6rem;
	padding-right: 2rem;
	font-weight: 700;
}

.scanner__paragraph {
	font-size: 2rem;
	line-height: 2.8rem;
	margin-bottom: 7rem;
}

.scanner__button {
	color: var(--principal);
	font-weight: 600;
	font-size: 1.8rem;
	border-radius: 2.8rem;
	padding: 1rem 2rem;
	border-style: solid;
	border-color: #ebeaed;
	transition: border-color 0.3s ease-out;
}

.scanner__button:hover {
	border-color: #cbcbcc;
}

/* Purchase */
.purchase {
	background: url(../src/Fondo_Purchase.svg);
	background-repeat: no-repeat;
	background-position: center calc(60%);
	background-size: 100%;
	margin-top: 18rem;
	padding: 12rem 0;
}

.purchase__content {
	color: var(--blanco);
	background: #ffffff33;
	box-shadow: 0 0.8rem 3.2rem 0 #0a0c2c5e;
	backdrop-filter: blur(0.65rem);
	border-radius: 1rem;
	padding: 4rem 0;
	text-align: center;
	text-shadow: -0.2rem 0.2rem 1rem #00000080;
}

.purchase__heading {
	margin: 0;
	font-size: 5.5rem;
	line-height: 1.2;
}

.purchase__paragraph {
	margin: 0;
	font-size: 2rem;
}

.purchase__button {
	text-shadow: none;
	border-radius: 2.8rem;
	background: #188bdf;
	font-weight: 300;
	font-size: 2rem;
	border-style: none;
	padding: 1rem 2rem;
	color: var(--blanco);
	display: inline-block;
	margin-top: 3rem;
	box-shadow: -0.2rem 0.2rem 1rem #00000080;
	transition: background 0.3s ease-out;
}

.purchase__button:hover {
	background: #0e629e;
}

.purchase__info {
	display: block;
	margin-top: 3rem;
	padding: 0 37rem;
}
