/* Variables */
:root {
	/* Colores */
	--blanco: #ffffff;
	--negro: #1b1c1e;
	--principal: #1e0e62;
	--fuentePrincipal: "DM Sans", sans-serif;
	--logo: "League Spartan", sans-serif;
}

/* Valor del documento */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--fuentePrincipal);
	font-size: 1.6rem;
	line-height: 1.8;
}

/* Globales */
h1,
h2,
h3 {
	font-weight: 900;
	margin: 2rem 0;
}
h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4.6rem;
}

h3 {
	font-size: 3rem;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

/* Selectores de atributos */
[class$="__container"] {
	max-width: 120rem;
	margin: 0 auto;
	width: 90%;
}

/* ------------------- PÁGINA WEB ------------------- */

/* Header */
.header {
	background: url(../src/Fondo_Header.svg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100%;
	background-color: #2f1893;
	position: relative;
}

.header__grid {
	display: grid;
	align-items: center;
	padding-bottom: 13.6rem;
	padding-top: 5rem;
}

.header__graphic {
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	padding-left: 81rem;
	margin-top: 8rem;

	& .header__img {
		width: 75rem;
	}
}

.header__text {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto 1fr;
	text-align: center;
	color: var(--blanco);
	text-align: start;
}

.header__textoPrimario {
	grid-column: 1 / 7;

	& .header__heading {
		font-size: 7rem;
		font-weight: 600;
	}
	
	& .header__paragraph {
		font-size: 2.5rem;
		padding-right: 45rem;
	}
}

.header__textoSecundario {
	grid-row: 2 / 3;
	grid-column: 1 / 3;

	& .header__heading {
		font-size: 4rem;
		font-weight: 500;
	}
	
	& .header__paragraph {
		font-size: 1.7rem;
		padding-right: 9rem;
	}
}

.header__textoTerceario {
	grid-row: 2 / 3;
	grid-column: 3 / 5;

	& .header__heading {
		font-size: 4rem;
		font-weight: 500;
	}
	
	& .header__paragraph {
		font-size: 1.7rem;
		padding-right: 9rem;
	}
}

/* Navegación */
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 2rem;
	text-align: center;
	align-items: center;
	gap: 2rem;
	font-size: 2rem;
}

.navigation__link {
	margin: 0 1rem;
	font-size: 1.5rem;
	color: var(--blanco);
	display: inline-block;
	transform: scale(1);
	transition: transform 0.2s;
}

.navigation__link:hover {
	transform: scale(1.15);
}

.navigation__link--logo {
	font-weight: 700;
	font-size: 3.7rem;
	font-family: var(--logo);
}

.navigation__link--button {
	padding: 0.7rem 2rem;
	border-style: solid;
	border-width: 1;
	border-color: #ebeaed;
	border-radius: 10rem;
}
