/* Variables */
:root {
	/* Colores */
	--blanco: #ffffff;
	--negro: #1b1c1e;
	--principal: #1e0e62;
	--secundario: #a1a1b0;
	--terceario: #22cbb7;
	--cuarto: #ebeaed;
	--fuentePrincipal: "DM Sans", sans-serif;
	--logo: "League Spartan", sans-serif;
}

/* Valor del documento */
html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--fuentePrincipal);
	font-size: 1.6rem;
	line-height: 1.8;
	background-color: var(--blanco);
}

/* Globales */
h1,
h2,
h3 {
	font-weight: 900;
	margin: 2rem 0;
}
h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4.6rem;
}

h3 {
	font-size: 3rem;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

/* Selectores de atributos */
[class$="__container"] {
	max-width: 120rem;
	margin: 0 auto;
	width: 90%;
}

[class$="__grid"] {
	display: grid;
	align-items: center;
	justify-items: center;
}

[class$="__blur"],
[class$="__blur--signup"] {
	backdrop-filter: blur(0.3rem);
}

[class$="__stuffed"] {
	border-radius: 10rem;
	margin: 1rem auto;
	font-size: 2rem;
	padding: 1rem 2rem;
	border: 0.3rem solid var(--cuarto);
	color: var(--negro);
	width: 37rem;
}

/* ------------------- PÁGINA WEB ------------------- */

/* Header */
.header {
	background: url(../src/Fondo_Header.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-color: #2f1893;
}

.header__grid {
	justify-items: start;
	padding-bottom: 13.6rem;
	padding-top: 5rem;
}

.header__graphic {
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	padding-left: 81rem;
	margin-top: 8rem;
}

.header__img {
	width: 75rem;
}

.header__text {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto 1fr;
	text-align: center;
	color: var(--blanco);
	text-align: start;
}

.header__textoPrimario {
	grid-column: 1 / 7;

	& .header__heading {
		font-size: 7rem;
		font-weight: 600;
	}

	& .header__paragraph {
		font-size: 2.5rem;
		padding-right: 45rem;
	}
}

.header__textoSecundario {
	grid-row: 2 / 3;
	grid-column: 1 / 3;

	& .header__heading {
		font-size: 4rem;
		font-weight: 500;
	}

	& .header__paragraph {
		font-size: 1.7rem;
		padding-right: 9rem;
	}
}

.header__textoTerceario {
	grid-row: 2 / 3;
	grid-column: 3 / 5;

	& .header__heading {
		font-size: 4rem;
		font-weight: 500;
	}

	& .header__paragraph {
		font-size: 1.7rem;
		padding-right: 9rem;
	}
}

/* Navegación */
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 2rem;
	text-align: center;
	align-items: center;
	gap: 2rem;
	font-size: 2rem;
}

.navigation__link {
	margin: 0 1rem;
	font-size: 1.5rem;
	color: var(--blanco);
	display: inline-block;
	transition: transform 0.2s;
}

.navigation__link:hover {
	transform: scale(1.1);
}

.navigation__link--logo {
	font-weight: 700;
	font-size: 3.7rem;
	font-family: var(--logo);
}

.navigation__link--button {
	padding: 0.7rem 2rem;
	border-style: solid;
	border-width: 1;
	border-color: var(--cuarto);
	border-radius: 10rem;
}

/* Process */
.process {
	padding-left: 15rem;
	margin: 10rem auto;
	color: var(--principal);
}

.process__heading {
	font-weight: 900;
}

.process__grid {
	align-items: start;
	grid-template-columns: auto 1fr;
}

.process__linePoints {
	width: 7rem;
}

.list {
	display: grid;
	grid-template-rows: auto 1fr;
	padding-right: 32rem;
	row-gap: 3rem;
	padding-left: 1rem;
}

.list__heading {
	font-weight: 600;
	font-size: 3rem;
}

.list__paragraph {
	color: var(--secundario);
	font-size: 1.8rem;
}

.processContent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	padding-left: 3rem;
}

.processContent__graphic {
	max-width: 100%;
}

.processContent__img {
	border-radius: 1rem;
}

.processContent__content {
	text-align: left;
	grid-column: 2 / 4;
	margin-bottom: 2rem;
	padding-left: 3rem;
}

.processContent__heading {
	font-size: 2.5rem;
	margin-top: 0;
	padding-top: 2rem;
	text-transform: uppercase;
}

.processContent__paragraph {
	padding-right: 20rem;
	color: var(--secundario);
}

.list__item:nth-child(5) {
	padding: 1rem;
}

.list__button {
	border-radius: 2.8rem;
	background: var(--terceario);
	font-size: 2.3rem;
	font-weight: 300;
	border-style: none;
	padding: 1.3rem 2rem;
	color: var(--blanco);
	transition: background 0.3s ease-out;
}

.list__button:hover {
	background: #2bb3a1;
}

.process__linePoints {
	border-left: thick solid var(--cuarto);
	border-width: 0.3rem;
	height: 69rem;
	left: 23%;
	margin-top: 2.5rem;
	position: relative;
}

.process__dots {
	background: var(--cuarto);
	color: #9594a5;
	font-size: 1.8rem;
	display: block;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	text-align: center;
	padding-top: 0.5rem;
	position: absolute;
}

.process__dots:nth-child(1) {
	right: 4.85rem;
}

.process__dots:nth-child(1)::before {
	content: "1";
}

.process__dots:nth-child(2) {
	right: 4.85rem;
	top: 24rem;
}

.process__dots:nth-child(2)::before {
	content: "2";
}

.process__dots:nth-child(3) {
	right: 4.85rem;
	top: 68.4rem;
}

.process__dots:nth-child(3)::before {
	content: "3";
}

/* Scanner */
.scanner {
	margin: 15rem auto;
	color: var(--principal);
	margin-bottom: 10rem;
}

.scanner__grid {
	grid-template-columns: repeat(2, 1fr);
	position: relative;
}

.scanner__iphone {
	position: relative;
	z-index: 2;
}

.scanner__background {
	height: 73.5rem;
	z-index: 1;
	position: absolute;
	bottom: 1rem;
	right: 73rem;
	border-radius: 4rem;
	transform: rotate(180deg);
}

.scanner__blur {
	position: absolute;
	z-index: 0;
	box-shadow: 0 0 3rem #777777;
	border-radius: 5.4rem;
	width: 37.2rem;
	height: 75.6rem;
	bottom: 0.2rem;
	right: 71.5rem;
}

.scanner__content {
	text-align: left;
	padding-right: 19rem;
}

.scanner__heading {
	line-height: 6rem;
	padding-right: 2rem;
	font-weight: 700;
}

.scanner__paragraph {
	color: var(--secundario);
	font-size: 2rem;
	line-height: 2.8rem;
	margin-bottom: 7rem;
}

.scanner__button {
	color: var(--principal);
	font-weight: 600;
	font-size: 1.8rem;
	border-radius: 2.8rem;
	padding: 1rem 2rem;
	border-style: solid;
	border-color: var(--cuarto);
	transition: border-color 0.3s ease-out;
}

.scanner__button:hover {
	border-color: #cbcbcc;
}

/* Purchase */
.purchase {
	background: url(../src/Fondo_Purchase.svg);
	background-repeat: no-repeat;
	background-position: center calc(60%);
	background-size: 100%;
	margin: 15rem auto;
	padding: 12rem 0;
}

.purchase__content {
	color: var(--blanco);
	background: #ffffff33;
	box-shadow: 0 0.8rem 3.2rem 0 #0a0c2c5e;
	backdrop-filter: blur(0.65rem);
	border-radius: 1rem;
	padding: 4rem 0;
	text-align: center;
	text-shadow: -0.2rem 0.2rem 1rem #00000080;
	transition: transform 0.3s;
}

.purchase__content:hover {
	transform: scale(1.01);
}

.purchase__heading {
	margin: 0;
	font-size: 5.5rem;
	line-height: 1.6;
}

.purchase__paragraph {
	margin: 0;
	font-size: 2rem;
}

.purchase__button {
	text-shadow: none;
	border-radius: 2.8rem;
	background: #188bdf;
	font-weight: 300;
	font-size: 2rem;
	border-style: none;
	padding: 1rem 2rem;
	color: var(--blanco);
	display: inline-block;
	margin-top: 4rem;
	box-shadow: -0.2rem 0.2rem 1rem #00000080;
	transition: background 0.3s ease-out;
}

.purchase__button:hover {
	background: #127ac4;
}

.purchase__info {
	display: block;
	margin-top: 4rem;
	padding: 0 37rem;
}

/* Testimonials */
.testimonials {
	margin: 15rem auto;
	color: var(--principal);
	text-align: center;
	position: relative;
}

.testimonials__user {
	display: flex;
	align-items: center;
	flex-direction: column;
	column-gap: 2rem;
	font-size: 2.5rem;
	padding: 0 20rem;
	font-weight: 600;
	margin-bottom: 5rem;
	animation: fade 7s linear infinite;
}

.testimonials__slider {
	animation: fade 7s;
}

.testimonials__graphic {
	display: inline-block;
}

.testimonials__quotes {
	width: 3.5rem;
}

.testimonials__comment {
	margin: 2.5rem 0;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

.profile__img {
	width: 13rem;
}

.profile__username {
	font-weight: 500;
	font-size: 2.5rem;
	margin: 2rem 0 0 0;
}

.profile__work {
	margin: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--secundario);
	font-weight: 500;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Functionality */
.functionality {
	margin: 15rem auto;
	color: var(--principal);
	text-align: center;
}

.functionality__heading {
	margin-bottom: 0;
	font-size: 5rem;
}

.functionality__paragraph {
	color: var(--secundario);
	font-weight: 300;
	padding: 0 33rem;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.functionality__grid {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 3rem;
	padding: 0 3rem;
}

.target {
	border: 0.3rem solid var(--cuarto);
	border-radius: 0.7rem;
	padding: 3rem 5rem 0 5rem;
}

.target__heading {
	font-size: 2.5rem;
	font-weight: 600;
	margin: 0;
}

.target__paragraph {
	font-size: 1.5rem;
	font-weight: 300;
	margin: 0 auto 3.8rem auto;
	color: var(--secundario);
}

.target__graphic {
	max-width: 100%;
}

/* Prices */
.prices {
	margin: 15rem 0;
	color: var(--principal);
	text-align: center;
}

.prices__heading {
	font-size: 5.5rem;
	font-weight: 700;
	margin: 0;
}

.prices__paragraph {
	color: var(--secundario);
	font-size: 2rem;
	font-weight: 300;
	margin: 0;
}

.prices__grid {
	justify-items: normal;
	grid-template-columns: repeat(4, 1fr);
}

.parking {
	display: flex;
	flex-direction: column;
	border: 0.3rem solid var(--cuarto);
	border-radius: 1rem;
	margin-top: 6rem;
	align-items: center;
	margin-bottom: auto;
}

.parking:nth-child(1) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 0;
}

.parking:nth-child(2),
.parking:nth-child(3) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 0;
}

.parking:nth-child(4) {
	border-top-left-radius: 0;
}

.parking__heading {
	font-size: 2.7rem;
	font-weight: 600;
	margin: 4rem 0 0 0;
}

.parking__paragraph {
	color: var(--secundario);
	margin: 0;
}

.parking__price {
	font-size: 6rem;
	font-weight: 700;
	display: inline-flex;
	margin: 1rem auto 2rem auto;
}

.parking__price--dollar {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 2.5rem 0.7rem 0 0;
}

.parking__button {
	display: inline;
	color: var(--principal);
	font-weight: 600;
	font-size: 1.8rem;
	border-radius: 2.8rem;
	padding: 1rem 2.5rem;
	margin-bottom: 5rem;
	border-style: solid;
	border-color: var(--cuarto);
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out,
		color 0.3s ease-out;
}

.parking__button:hover {
	color: var(--blanco);
	border-color: var(--terceario);
	background-color: var(--terceario);
}

.parking__benefit {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-weight: 500;
}

.parking__paragraph--benefit {
	display: block;
	margin: 0;
	padding: 2rem 0;
	border: 0.3rem solid var(--cuarto);
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

/* Income */
.income__blur {
	padding-bottom: 15rem;
}

.income__blur--signup {
	padding-bottom: 10rem;
}

.signin {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--blanco);
	margin: 14rem 36rem 2.971rem 36rem;
	border-radius: 1.5rem;
	box-shadow: 0 0 5rem #0000004d;
}

.signin__signup {
	margin: 11rem 36rem 4.0718rem 36rem;
}

.signin__heading {
	color: var(--principal);
	font-weight: 700;
}

.signin__flex {
	display: flex;
	flex-direction: column;
}

.signin__input {
	display: flex;
	flex-direction: column;
}

.signin__terms {
	display: flex;
	align-items: center;
	margin: 1rem 0 0 0;
}

.signin__checkbox {
	height: 2.3rem;
	width: 2.3rem;
	cursor: pointer;
	appearance: none;
	background-color: var(--cuarto);
	border-radius: 0.7rem;
}

.signin__checkbox:checked {
	background: url("/src/checkbox.png") no-repeat;
	background-position: center center;
	background-size: 1.2rem;
	background-color: var(--terceario);
}

.signin__paragraph {
	display: inline;
	padding-left: 1rem;
	color: var(--secundario);
	font-weight: 300;
}

.signin__button {
	border-radius: 2.8rem;
	background: var(--terceario);
	font-size: 2.3rem;
	font-weight: 500;
	border-style: none;
	width: 37rem;
	text-align: center;
	padding: 0.6rem;
	margin: 0.8rem auto;
	color: var(--blanco);
	transition: background 0.3s ease-out;
}

.signin__button:hover {
	background: #2bb3a1;
}

.signin__signin {
	margin: 5rem 0 3rem 0;
	border-top: 0.1rem solid var(--cuarto);
	width: 37rem;
	font-size: 2rem;
	text-align: center;
}

.signin__paragraph--signin {
	font-weight: 500;
	margin-right: 0.6rem;
}

.signin__access {
	color: var(--terceario);
	font-weight: 500;
	transition: color 0.3s ease-out;
}

.signin__signin:hover {
	color: #2bb3a1;
}

/* Payment */
.payment {
	color: var(--principal);
}

.payment__heading {
	text-align: center;
	font-size: 6rem;
	margin-bottom: 5rem;
}

.payment__grid {
	grid-template-rows: auto 1fr;
	row-gap: 5rem;
}

.payment__methods {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	position: relative;
	border-width: 1;
	border-style: solid;
	border-color: var(--cuarto);
	width: 90%;
	border-radius: 1.5rem;
	padding: 4rem 0 4rem 7rem;
}

.payment__text {
	font-size: 2.35rem;
	font-weight: 600;
}

.payment__paragraph {
	color: var(--secundario);
	font-size: 2.25rem;
	font-weight: 300;
	margin: 0;
}

.payment__stuffed {
	font-size: 2.25rem;
	margin: 4rem 0 0 0;
	width: 45rem;
}

.payment__targets {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 2rem;
	left: 83rem;
}

.payment__graphic {
	margin: 0 1.5rem;
}

.payment__img {
	height: 8rem;
	display: inline;
}

.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-top: 3rem;
}

.card__content:nth-child(4) {
	.card__stuffed {
		width: 20%;
	}
}

.card__paragraph {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}

.card__stuffed {
	width: 90%;
	padding: 1.7rem;
}

.card__button {
	border-radius: 5rem;
	background: var(--terceario);
	font-size: 2.3rem;
	font-weight: 300;
	border-style: none;
	padding: 1.7rem 4rem;
	color: var(--blanco);
	transition: background 0.3s ease-out;
	margin-left: 16.5rem;
}

.card__button:hover {
	background: #2bb3a1;
}

.payment__radio {
	height: 2.8rem;
	width: 2.8rem;
	cursor: pointer;
	appearance: none;
	background-color: var(--cuarto);
	border-radius: 10rem;
	position: absolute;
	top: 4.5rem;
	left: 2.25rem;
}

.payment__radio:checked {
	background: url("/src/dot.svg") no-repeat;
	background-position: center center;
	background-size: 1.25rem;
	background-color: var(--terceario);
}

.payment__radio:focus + .payment__space {
    border-color: var(--terceario);
}


/* Contact */
.contact {
	margin: 15rem 0;
	color: var(--principal);
	text-align: start;
}

.contact__grid {
	grid-template-columns: repeat(2, 1fr);
	align-items: start;
	justify-items: start;
	column-gap: 4rem;
}

.contact__flex {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 90%;
}

.contact__hading {
	font-size: 6rem;
	margin: 0;
}

.contact__paragraph {
	margin: 1rem 0;
	color: var(--secundario);
	font-weight: 300;
	font-size: 2.25rem;
	margin-right: 5rem;
	margin-bottom: 4rem;
}

.data {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.data__graphic {
	margin: 0 1.8rem 0 0;
}

.data__view {
	height: 2.5rem;
}

.data__link {
	color: var(--principal);
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0 0 0.5rem 0;
}

.contact__line {
	border-top-color: var(--cuarto);
	border-top-style: solid;
	border-width: 1;
	width: 100%;
	margin: 6rem 0 5rem 0;
}

.contact__hading--map {
	font-weight: 500;
	font-size: 3.25rem;
}

.contact__paragraph--map {
	margin: 0 0;
}

.contact__map {
	height: 40rem;
	width: 100%;
	background-color: var(--blanco);
	margin-top: 6rem;
}

.send {
	display: flex;
	flex-direction: column;
	height: 50rem;
	width: 100%;
}

.send__heading {
	margin: 0;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
}

.send__form {
	margin-bottom: 3rem;
	height: 100%;
}

.send__form:nth-child(1) {
	margin-top: 5rem;
}

.send__form:nth-child(2) {
	.send__stuffed {
		height: 15rem;
		text-align: start;
		vertical-align: top;
	}
}

.send__form:nth-child(3) {
	margin-bottom: 0;
}

.send__stuffed {
	width: 100%;
	padding: 1.7rem;
}

.send__form:nth-child(3) .send__stuffed {
	width: 70%;
}

.send__button {
	border-radius: 2.8rem;
	background: var(--terceario);
	font-size: 2.3rem;
	font-weight: 300;
	border-style: none;
	padding: 1.7rem 4rem;
	color: var(--blanco);
	transition: background 0.3s ease-out;
	margin-left: 1rem;
}

.send__button:hover {
	background: #2bb3a1;
}

/* Footer */
.footer {
	background-color: var(--principal);
	color: var(--blanco);
	margin: 0;
	padding: 5rem 0;
	font-size: 2rem;
	font-weight: 200;
}

.policy {
	display: flex;
	flex-direction: column;
}

.policy__flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.policy__flex:nth-child(2) {
	border-top-color: var(--secundario);
	border-top-style: solid;
	border-width: 0.1rem;
	width: 100%;
	margin: 3rem 0;
}

.policy__social {
	display: grid;
	grid-template-columns: repeat(5, auto);
	justify-items: center;
	align-items: center;
	column-gap: 3rem;
}

.policy__provacyTerms {
	color: var(--blanco);
	transition: transform 0.2s;
}

.policy__provacyTerms:hover {
	transform: scale(1.1);
}

.navigation__link--footer {
	font-size: 2rem;
	font-weight: 200;
}

.policy__red {
	width: 2.5rem;
}

.navigation__policy {
	padding: 0;
}
